[submodule "qmk_firmware"]
	path = qmk_firmware
	url = https://github.com/zsa/qmk_firmware.git
[submodule "mEaYP/modules/getreuer"]
	path = mEaYP/modules/getreuer
	url = https://github.com/getreuer/qmk-modules.git
[submodule "W7EL4/modules/getreuer"]
	path = W7EL4/modules/getreuer
	url = https://github.com/getreuer/qmk-modules.git
